
:host {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 100%;
  margin: 20px auto;
  padding: 0 10px;
  overflow: hidden;
}


/*   Table Visibility Controls   */

.controls-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  background: #181818;
  box-shadow: 0 0 2px 2px #111 inset;
  user-select: none;
}

.controls-sub-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
}

.controls-sub-container-row {
  display: flex;
  justify-content: center;
}

.controls-button {
  min-width: 22px;
  margin: 2px 4px;
  padding: 1px 8px 3px 8px;
  border-radius: 3px;
  background: #242424;
  color: #999;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.01em;
  white-space: nowrap;
  cursor: pointer;
  transition: .3s;
}

.controls-button-l,
.controls-button-r {
  padding: 2px 5px;
  background: #282828;
}

.controls-button-l {
  margin-left: 8px;
  margin-right: auto;
}

.controls-button-r {
  margin-left: auto;
  margin-right: 8px;
}

.controls-button-selected {
  background: #333;
  color: #aaa;
  pointer-events: none;
}

.controls-button-disabled {
  opacity: .4;
  pointer-events: none;
}

@media (hover: hover) {
  .controls-button:hover {
    box-shadow: 0 0 3px 3px #333 inset;
  }
  .controls-button-l:hover,
  .controls-button-r:hover {
    background: #333;
    box-shadow: none;
  }
}

@media (max-width: 599px) {
  .controls-container {
    margin-bottom: 8px;
    border-radius: 10px;
  }
  .controls-button {
    min-width: 80px;
    margin: 3px;
    font-size: 14px;
  }
  .controls-button-l,
  .controls-button-r {
    min-width: 20px;
  }
  .controls-button-l {
    margin-left: 8px;
    margin-right: auto;
  }
  .controls-button-r {
    margin-left: auto;
    margin-right: 8px;
  }
}


/*   Containers   */

.exceptions-container-tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exceptions-container-mobile {
  display: flex;
  width: min(100% - 20px, 400px);
  flex-direction: column;
  min-width: 295px;
}

.exceptions-container-mobile-header {
  display: flex;
  justify-content: center;
  padding: 6px 10px;
  border-radius: 5px 5px 0 0;
  background: #222;
  cursor: pointer;
}

.exceptions-container-mobile-collapsed .exceptions-container-mobile-header {
  border-radius: 5px;
}

.exceptions-container-mobile-header-triangle {
  margin-right: 15px;
  color: #999;
  font-size: 14px;
  transform: rotate(90deg);
  transition: .2s;
}

.exceptions-container-mobile-collapsed .exceptions-container-mobile-header-triangle {
  transform: rotate(0deg);
}

.exceptions-container-mobile-body {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-radius: 0 0 5px 5px;
  background: #181818;
  animation: fadeIn .3s;
}

.exceptions-container-mobile-collapsed .exceptions-container-mobile-body {
  display: none;
}


/*   Tables and Cells   */

.table-main {  
  width: min(2400px, 100%);
  border-collapse: collapse;
}

.table-exceptions {
  width: min(2040px, 85%);
  border-collapse: collapse;
}

.cell-no-bg {
  background: none;
}

.cell-group,
.cell-period,
.table-exceptions th {
  user-select: none;
}

th {
  padding: 10px;
  background: 
    repeating-linear-gradient(-45deg, #282828 0, #282828 10px, #2c2c2c 11px, #2c2c2c 12px);
  text-align: center;
  letter-spacing: 0.01em;
  box-shadow: 0 0 2px 2px #111 inset;
/*  animation: fadeIn .5s;*/
  transition: .2s;
}

td {
  height: 64px;
  background: #181818;
  box-shadow: 0 0 2px 2px #111 inset;
/*  animation: fadeIn .5s;*/
  transition: .2s;
}

@media (hover: hover) {
  th.group-hovered,
  td.group-hovered,
  th.period-hovered,
  td.period-hovered {
    filter: brightness(1.2);
  }
}

@media (max-width: 1849px) {
  td {
    height: 46px;
  }
  .table-exceptions td {
    height: 64px;
  }
}

@media (max-width: 1660px) {
  td {
    height: 64px;
  }
}

@media (max-width: 1349px) {
  th {
    padding: 6px 8px;
    font-size: 14px;
  }
  td {
    height: 50px;
  }
}

@media (max-width: 1199px) {
  td {
    height: 36px;
  }
  .table-exceptions td {
    height: 53px;
  }
  .cell-group {
    padding: 10px 5px;
  }
  .cell-period {
    width: 60px;
    height: 25px;
  }
}

@media (max-width: 899px) {
  .table-exceptions {
    width: calc(100% - 40px);
    margin: 0 0 10px 0;
  }
  .table-exceptions th {
    width: 92px;
  }
  .table-exceptions td {
    height: 36px;
  }
  th.group-hovered,
  td.group-hovered,
  th.period-hovered,
  td.period-hovered {
    filter: none;
  }
}

@media (max-width: 599px) {
  .table-exceptions {
    width: 140px;
    margin: 0 5px;
  }
  .table-exceptions:last-of-type {
    margin-left: 0;
  }
  .table-exceptions th,
  .table-exceptions td {
    width: unset;
  }
}


/*   Table Cell Animations   */

.ani-1 {
  animation: fadeIn .8s;
}

.ani-2 {
  animation: fadeIn2 .8s;
}


/*   Overlay   */

.page-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: 
    repeating-linear-gradient(-45deg, rgba(0, 0, 0, .8) 0, rgba(24, 24, 24, .8) 20px, rgba(0, 0, 0, .8) 40px);
  animation: fadeIn .3s;
}
