
<!-- Main Table -->
<table class="table-main">
  <thead>

    <!-- Controls -->
    <tr class="invisible-desktop-wide">
      <td class="cell-no-bg invisible-mobile"></td>
      <td class="cell-no-bg" colspan="9">

        <!-- Mobile (3 groups visible) -->
        <div class="controls-container invisible-tablet invisible-desktop-small">
          <div 
            class="controls-button controls-button-l"
            [ngClass]="{'controls-button-disabled': !v.mobile.start}"
            (click)="shiftVisibility(1, -1)">&#9664;</div>
          <div class="controls-sub-container">
            <div 
              *ngFor="let row of [0, 1, 2]"
              class="controls-sub-container-row">
              <div 
                *ngFor="let b of v.mobile.breakpoints | slice:(2 * row):(2 * row + 2)"
                class="controls-button"
                [ngClass]="{'controls-button-selected': v.mobile.start == b}"
                (click)="setVisibility(1, b)">Gr. {{b + 1}}&hairsp;&hellip;&hairsp;{{b + v.mobile.range}}</div>
            </div>
          </div>
          <div 
            class="controls-button controls-button-r"
            [ngClass]="{'controls-button-disabled': v.mobile.end == 17}"
            (click)="shiftVisibility(1, 1)">&#9654;</div>
        </div>

        <!-- Tablet (6 groups visible) -->
        <div class="controls-container invisible-mobile invisible-desktop-small">
          <div 
            class="controls-button controls-button-l"
            [ngClass]="{'controls-button-disabled': !v.tablet.start}"
            (click)="shiftVisibility(2, -1)">&#9664;</div>
          <div 
            *ngFor="let b of v.tablet.breakpoints"
            class="controls-button"
            [ngClass]="{'controls-button-selected': v.tablet.start == b}"
            (click)="setVisibility(2, b)">Groups {{b + 1}}&hairsp;&hellip;&hairsp;{{b + v.tablet.range}}</div>
          <div 
            class="controls-button controls-button-r"
            [ngClass]="{'controls-button-disabled': v.tablet.end == 17}"
            (click)="shiftVisibility(2, 1)">&#9654;</div>
        </div>

        <!-- Small Desktop (9 groups visible) -->
        <div class="controls-container invisible-mobile invisible-tablet">
          <div 
            class="controls-button controls-button-l"
            [ngClass]="{'controls-button-disabled': !v.desktop.start}"
            (click)="shiftVisibility(3, -1)">&#9664;</div>
          <div 
            *ngFor="let b of v.desktop.breakpoints"
            class="controls-button"
            [ngClass]="{'controls-button-selected': v.desktop.start == b}"
            (click)="setVisibility(3, b)">Groups {{b + 1}}&hairsp;&hellip;&hairsp;{{b + v.desktop.range}}</div>
          <div 
            class="controls-button controls-button-r"
            [ngClass]="{'controls-button-disabled': v.desktop.end == 17}"
            (click)="shiftVisibility(3, 1)">&#9654;</div>
        </div>

      </td>
    </tr>

    <!-- Group Headers -->
    <tr>
      <td class="cell-no-bg"></td>
      <th 
        *ngFor="let g of arrG"
        class="cell-group ani-{{ani}}" 
        [ngClass]="{
          'invisible-mobile': g < v.mobile.start || g > v.mobile.end,
          'invisible-tablet': g < v.tablet.start || g > v.tablet.end,
          'invisible-desktop-small': g < v.desktop.start || g > v.desktop.end,
          'group-hovered': groupHovered == g
        }"
        (mouseenter)="groupHovered = g"
        (mouseleave)="groupHovered = undefined">Group {{g + 1}}</th>
    </tr>
  </thead>
  <tbody>
    <!-- Periods -->
    <tr *ngFor="let p of arrP">
      <th 
        class="cell-period"
        [ngClass]="{'period-hovered': periodHovered == p}"
        (mouseenter)="periodHovered = p"
        (mouseleave)="periodHovered = undefined">Period {{p + 1}}</th>
      <td 
        *ngFor="let g of arrG"
        class="ani-{{ani}}"
        [ngClass]="{
          'invisible-mobile': g < v.mobile.start || g > v.mobile.end,
          'invisible-tablet': g < v.tablet.start || g > v.tablet.end,
          'invisible-desktop-small': g < v.desktop.start || g > v.desktop.end,
          'group-hovered': groupHovered == g,
          'period-hovered': periodHovered == p
        }">
        <app-element
          *ngIf="arrTable[p][g]"
          [e]="arrTable[p][g]!"
          (click)="pickElement(arrTable[p][g])">
        </app-element>
      </td>
    </tr>
  </tbody>
</table>

<!-- Lanthanides and Actinides (Mobile) -->
<div 
  class="exceptions-container-mobile invisible-tablet invisible-desktop"
  [ngClass]="{'exceptions-container-mobile-collapsed': exceptionsContainerMobileCollapsed}">
  <div 
    class="exceptions-container-mobile-header"
    (click)="toggleExceptionsContainerMobile()">
    <span class="exceptions-container-mobile-header-triangle">&#9654;</span>
    Lanthanides and Actinides
  </div>
  <div class="exceptions-container-mobile-body">    
    <table 
      *ngFor="let t of ['Lanthanides', 'Actinides']; index as i"
      class="table-exceptions">
      <tbody>
        <tr>
          <th colspan="2">{{t}}<br />(Period&nbsp;{{6 + i}})</th>
        </tr>
        <tr *ngFor="let row of arrP">
          <td *ngFor="let e of (!i ? arrLanthanides : arrActinides) | slice:(2 * row):(2 * row + 2)">
            <app-element
              [e]="e"
              (click)="pickElement(e)">
            </app-element>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Lanthanides and Actinides (Tablet) -->
<div class="exceptions-container-tablet invisible-mobile invisible-desktop">
  <table 
    *ngFor="let t of ['Lanthanides', 'Actinides']; index as i"
    class="table-exceptions">
    <tbody>
      <tr *ngFor="let row of [0, 1]">
        <th *ngIf="!row" rowspan="2">{{t}}<br />(Period&nbsp;{{6 + i}})</th>
        <td *ngFor="let e of (!i ? arrLanthanides : arrActinides) | slice:(!row ? 0 : 7):(!row ? 7 : 14)">
          <app-element
            [e]="e"
            (click)="pickElement(e)">
          </app-element>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Lanthanides and Actinides (Desktop) -->
<table class="table-exceptions invisible-mobile invisible-tablet">
  <tbody>
    <tr *ngFor="let row of ['Lanthanides', 'Actinides']; index as i">
      <th 
        [ngClass]="{'period-hovered' : periodHovered == -(i + 1) || periodHovered == 5 + i}"
        (mouseenter)="periodHovered = -(i + 1)"
        (mouseleave)="periodHovered = undefined">{{row}}<br />(Period&nbsp;{{6 + i}})</th>
      <td 
        *ngFor="let e of (!i ? arrLanthanides : arrActinides)"
        [ngClass]="{'period-hovered' : periodHovered == -(i + 1) || periodHovered == 5 + i}">
        <app-element
          [e]="e"
          (click)="pickElement(e)">
        </app-element>
      </td>
    </tr>
  </tbody>
</table>

<!-- Overlay & Element Info -->
<div 
  class="page-overlay"
  *ngIf="pickedElement"
  (click)="pickElement(undefined)">
  <app-element-info
    *ngIf="pickedElement"
    [e]="pickedElement"
    (click)="$event.stopPropagation()"
    (change)="pickElementByNumber($event)"
    (close)="pickElement(undefined)">
  </app-element-info>
</div>
