
/*   Container   */

:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  :host {
    flex-basis: 580px;
  }
}

@media (max-width: 899px) {
  :host {
    margin-top: 20px;
  }
}

@media (max-width: 599px) {
  :host {
    flex-basis: calc(100% - 20px);
  }
}


/*   Wrappers (Horizontal Blocks)   */

.element-data-wrapper {
  position: relative;
  display: flex;
  flex-basis: 100%;
  max-height: 500px;
  background: #242424;
  transition: .5s;
  overflow: hidden;
}

.element-data-wrapper:first-of-type {
  background: 
    repeating-linear-gradient(-45deg, #2a2a2a 0px, #2a2a2a 10px, #2c2c2c 11px, #2c2c2c 13px);
}

.element-data-wrapper:last-of-type {
  overflow: visible;
}

.element-data-wrapper.wrapper-collapsed {
  max-height: 1px;
}

@media (max-width: 599px) {
  .element-data-wrapper.wrapper-collapsed {
    max-height: unset;
  }
}


/*   Header Block Content   */

.element-number {
  display: inline-flex;
  justify-content: center;
  min-width: 58px;
  padding: 3px 0;
  background: #333;
  color: #97b7b7;
  font-size: 22px;
}

.element-name {
  display: inline-flex;
  flex-basis: 100%;
  padding: 3px 20px;
  font-size: 22px;
  letter-spacing: 0.04em;
}

.element-controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  user-select: none;
  animation: fadeIn .5s;
}

.element-control-button {
  margin: 0 3px;
  padding: 2px 10px;
  border-radius: 4px;
  background: #333;
  color: #999;
  cursor: pointer;
  transition: .3s;
}

.element-control-button-disabled {
  opacity: .4;
  pointer-events: none;
}

.element-info-close-button {
  display: inline-flex;
  padding: 3px 15px;
  background: #333;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}

@media (hover: hover) {
  .element-control-button:hover,
  .element-info-close-button:hover {
    background: #383838;
  }
}

@media (max-width: 899px) {
  .element-number,
  .element-name,
  .element-info-close-button {
    font-size: 20px;
  }
}

@media (max-width: 599px) {
  .element-number,
  .element-name,
  .element-info-close-button {
    font-size: 18px;
  }
  .element-number {
    min-width: 48px;
  }
  .element-name {
    padding: 3px 10px;
  }
  .element-controls {
    padding-right: 8px;
  }
  .element-control-button {
    padding: 1px 5px;
  }
  .element-info-close-button {
    padding: 3px 8px;
  }
}


/*   Image Block Content   */

.element-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0 auto;
  width: 640px;
  height: 480px;
  border-radius: 10px;
  background: 
    repeating-linear-gradient(-45deg, #282828 0px, #282828 10px, #2c2c2c 11px, #2c2c2c 13px);
  user-select: none;
}

.element-image-container.no-image {
  background: #181818;
  flex-direction: column;
}

.element-image-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px 4px #242424 inset, 0 0 2px 2px #242424;
}

.element-image-container img {
  display: block;
  width: 100%;
}

.element-no-image-text {
  display: flex;
  margin: 20px 25px;
  text-align: center;
  font-size: 18px;
  letter-spacing: .03em;
}

.element-no-image-text:first-of-type {
  font-size: 22px;
}

.element-control-button.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  width: 15px;
  height: 40px;
  user-select: none;
  animation: fadeIn .5s;
}

.element-control-button.button-large.button-left {
  left: 10px;
}

.element-control-button.button-large.button-right {
  right: 10px;
}

@media (max-width: 1199px) {
  .element-image-container {
    width: 560px;
    height: 420px;
  }
  .element-control-button.button-large {
    display: none;
  }
}

@media (max-width: 599px) {
  .element-image-container {
    width: calc(100% - 10px);
    height: unset;
    aspect-ratio: 4/3;
  }
  .element-no-image-text {
    margin: 10px 25px;
    font-size: 15px;
  }
  .element-no-image-text:first-of-type {
    font-size: 18px;
  }
}


/*   Element Data Block Content   */

.element-image-toggler {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 114px;
  padding: 2px 10px;
  border-radius: 4px;
  background: #2e2e2e;
  color: #999;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}

.element-image-toggler > span {
  font-size: 15px;
  animation: fadeIn .5s;
}

.element-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-bottom: 10px;
  color: #999;
  font-size: 40px;
  font-weight: 500;
}

.element-data-container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  gap: 3px;
  margin: 8px 10px 10px 0;
}

.element-data-row {
  display: flex;
  flex-basis: 100%;
}

.element-data-property,
.element-data-value {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  background: #2a2a2a;
  border-radius: 4px;
  letter-spacing: 0.045em;
  transition: .2s;
}

.element-data-property {
  position: relative;
  flex-basis: 65%;
  margin-right: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.element-data-property-hint {
  display: none;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-left: auto;
  border-radius: 50%;
  background: #333;
  color: #999;
  font-size: 15px;
  opacity: 0;
  transition: .2s;
  cursor: help;
  user-select: none;
}

.element-data-property-hint-block {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: calc(100% + 5px);
  right: -10px;
  z-index: 500;
  width: 320px;
  padding: 5px 10px 8px 10px;
  border: 2px solid #444;
  border-radius: 6px;
  background: #282828;
  box-shadow: 0 0 2px 2px #222;
  animation: hintBlockAppear .3s;
}

@keyframes hintBlockAppear {
  0% {opacity: 0; bottom: calc(100% + 2px);}
  50% {opacity: 0; bottom: calc(100% + 2px);}
  100% {opacity: 1; bottom: calc(100% + 5px);}
}

.element-data-property-hint-block-under {
  top: calc(100% + 5px);
  bottom: unset;
  animation: hintBlockAppearUnder .3s;
}

@keyframes hintBlockAppearUnder {
  0% {opacity: 0; top: calc(100% + 2px);}
  50% {opacity: 0; top: calc(100% + 2px);}
  100% {opacity: 1; top: calc(100% + 5px);}
}

.element-data-property-hint-block-wide {
  width: 520px;
}

.element-data-property-hint-text {
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: .02em;
}

.element-data-property-hint-text:last-of-type {
  margin-bottom: 0;
}

.element-data-value {
  flex-grow: 1;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #97b7b7;
}

.element-data-value-unit {
  margin-left: .5em;
  color: #999;
}

@media (hover: hover) {
  .element-image-toggler:hover {
    background: #333;
  }
  .element-data-row:hover .element-data-property,
  .element-data-row:hover .element-data-value {
    background: #2e2e2e;
  }
  .element-data-row:hover .element-data-property-hint {
    opacity: 1;
  }
  .element-data-property-hint {
    display: flex;
  }
  .element-data-property-hint:hover {
    background: #383838;
  }
  .element-data-property-hint:hover .element-data-property-hint-block {
    display: flex;
  }
  .element-data-property-hint:hover .element-data-property-hint-block:hover {
    display: none;
  }
}

@media (max-width: 1199px) {
  .element-image-toggler {
    padding: 2px 5px;
  }
  .element-data-property {
    flex-basis: 55%;
  }
  .element-data-property-hint {
    display: none;
  }
}

@media (max-width: 899px) {
  .element-data-property,
  .element-data-value,
  .element-data-value > * > * {
    font-size: 15px;
  }
}

@media (max-width: 599px) {
  .element-image-toggler,
  .element-symbol {
    display: none;
  }
  .element-data-container {
    margin: 5px;
  }
  .element-data-row {
    flex-direction: column;
    margin-bottom: 1px;
  }
  .element-data-row-half {
    flex-basis: calc((100% - 3px) / 2);
  }
  .element-data-property,
  .element-data-value {
    flex-basis: 100%;
    margin: 0 0 2px 0;
  }
  .element-data-property {
    background: #2e2e2e;
    border-radius: 4px 4px 0 0;
  }
  .element-data-value {
    padding: 4px 10px;
    border-radius: 0 0 4px 4px;
  }
}


/*   Triggering Animations   */

.ani-1,
.ani-2 {
  font-size: inherit;
}

.ani-1 {
  animation: fadeIn 1s;
}

.ani-2 {
  animation: fadeIn2 1s;
}
