
<!-- Upper Block (Header) -->
<div class="element-data-wrapper">
  <div class="element-number">{{e.number}}</div>
  <div class="element-name">{{e.name}}</div>
  <div class="element-controls">
    <div 
      class="element-control-button"
      [ngClass]="{'element-control-button-disabled': e.number == 1}"
      (click)="change.emit(e.number - 1)">&#9664;</div>
    <div 
      class="element-control-button"
      [ngClass]="{'element-control-button-disabled': e.number == 118}"
      (click)="change.emit(e.number + 1)">&#9654;</div>
  </div>
  <div 
    class="element-close-button"
    (click)="close.emit(null)">X</div>
</div>

<!-- Middle Block (Image) -->
<div 
  class="element-data-wrapper"
  [ngClass]="{'wrapper-collapsed': !imageVisible}">
  <div 
    class="element-image-container"
    [ngClass]="{'no-image': e.noImage}">
    <div 
      *ngIf="e.noImage"
      class="element-no-image-text">{{e.noImageText || 'No sample image available.'}}</div>
    <img
      *ngIf="e.noImage != true"
      src="./assets/img/elements/{{e.number}}.jpg">
  </div>
</div>

<!-- Lower Block (Data) -->
<div class="element-data-wrapper">
  <div 
    class="element-image-toggler"
    (click)="toggleImage()">
    <span *ngIf="imageVisible">&#9650;</span>
    <span *ngIf="!imageVisible">&#9660;</span>
  </div>
  <div class="element-symbol">{{e.symbol}}</div>
  <div class="element-data-container">
    <div 
      *ngFor="let d of data; index as i"
      class="element-data-row"
      [ngClass]="{'element-data-row-half' : i < 2}">
      <div class="element-data-property">{{d.property}}</div>
      <div class="element-data-value">
        <span>{{d.value}}</span>
        <span 
          *ngIf="d.unit"
          class="element-data-value-unit"
          [innerHTML]="d.unit">
        </span>
      </div>
    </div>
  </div>
</div>
