
/*   Container   */

:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 800px;
  margin-top: 20vh;
  background: #242424;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  :host {
    flex-basis: 580px;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  :host {
    margin: auto;
  }
}

@media (max-width: 599px) {
  :host {
    flex-basis: calc(100% - 20px);
    margin-top: max(50px, 15vh);
  }
}


/*   Wrappers (Blocks)   */

.element-data-wrapper {
  display: flex;
  flex-basis: 100%;
}


/*   Upper Block Content   */

.element-number {
  display: inline-flex;
  justify-content: center;
  min-width: 58px;
  padding: 3px 0;
  background: #333;
  font-size: 22px;
}

.element-name {
  display: inline-flex;
  flex-basis: 100%;
  padding: 3px 20px;
  background: #2a2a2a;
  font-size: 22px;
  letter-spacing: 0.04em;
}

.element-close-button {
  display: inline-flex;
  padding: 3px 15px;
  background: #333;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}

@media (hover: hover) {
  .element-close-button:hover {
    background: #383838;
  }
}

@media (max-width: 899px) {
  .element-number,
  .element-name,
  .element-close-button {
    font-size: 18px;
  }
  .element-number {
    min-width: 48px;
  }
  .element-name {
    padding: 3px 10px;
  }
}


/*   Lower Block Content   */

.element-symbol {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  color: #999;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
}

.element-data-container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  gap: 3px;
  margin: 8px 10px 10px 0;
}

.element-data-row {
  display: flex;
  flex-basis: 100%;
}

.element-data-property,
.element-data-value {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  background: #2a2a2a;
  border-radius: 4px;
  letter-spacing: 0.045em;
  transition: .2s;
}

.element-data-property {
  flex-basis: 65%;
  margin-right: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.element-data-value {
  flex-grow: 1;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #bbb;
}

.element-data-value-unit {
  margin-left: .5em;
  color: #999;
}

@media (hover: hover) {
  .element-data-row:hover > div {
    background: #2e2e2e;
  }
}

@media (max-width: 1199px) {
  .element-data-property {
    flex-basis: 55%;
  }
  .element-data-value {
    flex-basis: 45%;
  }
}

@media (max-width: 899px) {
  .element-data-property,
  .element-data-value {
    font-size: 15px;
  }
}

@media (max-width: 599px) {
  .element-symbol {
    display: none;
  }
  .element-data-container {
    margin: 5px;
  }
  .element-data-row {
    flex-direction: column;
    margin-bottom: 1px;
  }
  .element-data-row-half {
    flex-basis: calc((100% - 3px) / 2);
  }
  .element-data-property,
  .element-data-value {
    flex-basis: 100%;
    margin: 0 0 2px 0;
  }
  .element-data-property {
    background: #2e2e2e;
    border-radius: 4px 4px 0 0;
  }
  .element-data-value {
    padding: 4px 10px;
    border-radius: 0 0 4px 4px;
  }
}
