// Text
$color-text: #aaa;
$color-text-dim: #999;
$color-text-bright: #ccc;

// Text with accent
$color-accent: #97b7b7;
$color-accent-dim: #88a8a8;
$color-accent-intense: #006666;

// Shades of gray
$g-11: #111;
$g-18: #181818;
$g-22: #222;
$g-24: #242424;
$g-28: #282828;
$g-2a: #2a2a2a;
$g-2c: #2c2c2c;
$g-2e: #2e2e2e;
$g-33: #333;
$g-38: #383838;
$g-44: #444;
