@use './scss' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: fadeIn 1s;
}

header {
  @include shadow-inset(3px, $g-2a);
  @include bg-hex($g-28, 56px);
  display: flex;
  justify-content: center;
  padding: 18px 5px 22px 5px;
  @include desktop-small {
    padding: 15px 5px;
    background-size: 48px;
  }
  @include mobile {
    flex-wrap: wrap;
    padding: 5px 5px 8px 5px;
  }
}

.header-text {
  display: flex;
  justify-content: center;
  color: $color-accent;
  font-size: 26px;
  letter-spacing: .02em;
  white-space: pre-wrap;
  text-shadow: 1px 1px $g-11;
  &:last-of-type {
    color: $color-accent-dim;
  }
  @include desktop-small {
    font-size: 24px;
  }
  @include tablet {
    font-size: 22px;
  }
  @include mobile {
    flex-basis: 100%;
    font-size: 20px;
    &:last-of-type {
      font-size: 18px;
    }
  }
}

footer {
  @include shadow-inset(3px, $g-2a);
  @include bg-hex($g-28, 48px);
  display: flex;
  flex-basis: 100%;
  min-height: 60px;
  margin-top: auto;
}
