
@use '../../scss' as *;

:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
  @include desktop-small {
    flex-basis: 580px;
  }
  @include tablet {
    margin-top: 20px;
  }
  @include mobile {
    flex-basis: calc(100% - 20px);
  }
}


/*   Wrappers (Horizontal Blocks)   */

.element-data-wrapper {
  position: relative;
  display: flex;
  flex-basis: 100%;
  max-height: 500px;
  background: $g-24;
  transition: .5s;
  overflow: hidden;
  &:first-of-type {
    @include bg-lines(10px, $g-2a, 2px, $g-2c)
  }
  &:last-of-type {
    overflow: visible;
  }
  &.wrapper-collapsed {
    max-height: 1px;
    @include mobile {
      max-height: unset;
    }
  }
}


/*   Header Block Content   */

.element-number {
  display: inline-flex;
  justify-content: center;
  min-width: 58px;
  padding: 3px 0;
  background: $g-33;
  color: $color-accent;
  font-size: 22px;
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    min-width: 48px;
    font-size: 18px;
  }
}

.element-name {
  display: inline-flex;
  flex-basis: 100%;
  padding: 3px 20px;
  font-size: 22px;
  letter-spacing: .04em;
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    padding: 3px 10px;
    font-size: 18px;
  }
}

.element-controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  user-select: none;
  animation: fadeIn .5s;
  @include mobile {
    padding-right: 8px;
  }
  &-button {
    margin: 0 3px;
    padding: 2px 10px;
    border-radius: 4px;
    background: $g-33;
    color: $color-text-dim;
    cursor: pointer;
    transition: .3s;
    @include hover {
      background: $g-38;
    }
    @include mobile {
      padding: 1px 5px;
    }
    &-disabled {
      opacity: .4;
      pointer-events: none;
    }
  }
}

.element-info-close-button {
  display: inline-flex;
  padding: 3px 15px;
  background: $g-33;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  @include hover {
    background: $g-38;
  }
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    padding: 3px 8px;
    font-size: 18px;
  }
}


/*   Image Block Content   */

.element-image-container {
  @include bg-lines(10px, $g-28, 2px, $g-2c);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 480px;
  margin: 5px auto 0 auto;
  border-radius: 10px;
  user-select: none;
  @include desktop-small {
    width: 560px;
    height: 420px;
  }
  @include mobile {
    width: calc(100% - 10px);
    height: unset;
    aspect-ratio: 4/3;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px 4px $g-24 inset, 0 0 2px 2px $g-24;
  }
  &.no-image {
    background: $g-18;
    flex-direction: column;
  }
  img {
    display: block;
    width: 100%;
  }
}

.element-no-image-text {
  display: flex;
  margin: 20px 25px;
  text-align: center;
  font-size: 18px;
  letter-spacing: .03em;
  &:first-of-type {
    font-size: 22px;
    @include mobile {
      font-size: 18px;
    }
  }
  @include mobile {
    margin: 10px 25px;
    font-size: 15px;
  }
}

.element-controls-button.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  width: 15px;
  height: 40px;
  user-select: none;
  animation: fadeIn .5s;
  @include desktop-small {
    display: none;
  }
  &.button-left {
    left: 10px;
  }
  &.button-right {
    right: 10px;
  }
}


/*   Element Data Block Content   */

.element-image-toggler {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 114px;
  padding: 2px 10px;
  border-radius: 4px;
  background: $g-2e;
  color: $color-text-dim;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  @include hover {
    background: $g-33;
  }
  @include desktop-small {
    padding: 2px 5px;
  }
  @include mobile {
    display: none;
  }
  &-text {
    font-size: 15px;
    animation: fadeIn .5s;
  }
}

.element-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding-bottom: 10px;
  color: $color-accent;
  font-size: 40px;
  font-weight: 500;
  @include mobile {
    display: none;
  }
}

.element-data-container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  gap: 3px;
  margin: 8px 10px 10px 0;
  @include mobile {
    margin: 5px;
  }
}

.element-data-row {
  display: flex;
  flex-basis: 100%;
  @include mobile {
    flex-direction: column;
    flex-basis: 100%;
    margin: 0 0 2px 0;
    &-half {
      flex-basis: calc((100% - 3px) / 2);
    }
  }
}

@mixin element-data-row-part {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  background: $g-2a;
  border-radius: 4px;
  letter-spacing: .045em;
  transition: .2s;
  @include Hover {
    .element-data-row:hover & {
      background: $g-2e;
    }
  }
}

.element-data-property {
  @include element-data-row-part;
  position: relative;
  flex-basis: 65%;
  margin-right: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  @include desktop-small {
    flex-basis: 55%;
  }
  @include tablet {
    font-size: 15px;
  }
  @include mobile {
    flex-basis: 100%;
    margin: 0 0 2px 0;
    background: $g-2e !important;
    border-radius: 4px 4px 0 0;
  }
  &-hint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin-left: auto;
    border-radius: 50%;
    background: $g-33;
    color: $color-text-dim;
    font-size: 15px;
    opacity: 0;
    transition: .2s;
    cursor: help;
    user-select: none;
    @include Hover {
      .element-data-row:hover & {
        opacity: 1;
      }
      &:hover {
        background: $g-38;
      }
      &:hover &-block {
        display: flex;
        @include hover {
          display: none;
        }
      }     
    }
    @include desktop-small {
      display: none;
    }
    &-block {
      @include shadow(2px, $g-22);
      display: none;
      flex-direction: column;
      position: absolute;
      bottom: calc(100% + 5px);
      right: -10px;
      z-index: 500;
      width: 320px;
      padding: 5px 10px 8px 10px;
      border: 2px solid $g-44;
      border-radius: 6px;
      background: $g-28;
      animation: hintBlockAppear .3s;
      &-under {
        top: calc(100% + 5px);
        bottom: unset;
        animation: hintBlockAppearUnder .3s;
      }
      &-wide {
        width: 520px;
      }
    }
    &-text {
      margin-bottom: 5px;
      font-size: 14px;
      letter-spacing: .02em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes hintBlockAppear {
  0% {opacity: 0; bottom: calc(100% + 2px);}
  50% {opacity: 0; bottom: calc(100% + 2px);}
  100% {opacity: 1; bottom: calc(100% + 5px);}
}

@keyframes hintBlockAppearUnder {
  0% {opacity: 0; top: calc(100% + 2px);}
  50% {opacity: 0; top: calc(100% + 2px);}
  100% {opacity: 1; top: calc(100% + 5px);}
}

.element-data-value {
  @include element-data-row-part;
  flex-grow: 1;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: $color-accent;
  &-unit {
    margin-left: .5em;
    color: $color-text-dim;
  }
  @include tablet {
    &-number,
    &-unit {
      font-size: 15px;
    }
  }
  @include mobile {
    flex-basis: 100%;
    margin: 0 0 2px 0;
    padding: 4px 10px;
    border-radius: 0 0 4px 4px;
    background: $g-2a !important;
  }
}


/*   Triggering Animations   */

.ani-1,
.ani-2 {
  font-size: inherit;
}

.ani-1 {
  animation: fadeIn 1s;
}

.ani-2 {
  animation: fadeIn2 1s;
}
