
<!-- Header Block -->
<div class="element-data-wrapper">
  <div class="element-number">
    <span class="ani-{{ani}}">{{e.number}}</span>
  </div>
  <div class="element-name">
    <span class="ani-{{ani}}">{{e.name}}</span>
  </div>
  <div
    class="element-controls"
    [ngClass]="{'invisible-desktop-wide': imageVisible}">
    <div 
      class="element-controls-button"
      [ngClass]="{'element-controls-button-disabled': e.number == 1}"
      (click)="switchElement(e.number - 1)">&#9664;</div>
    <div 
      class="element-controls-button"
      [ngClass]="{'element-controls-button-disabled': e.number == 118}"
      (click)="switchElement(e.number + 1)">&#9654;</div>
  </div>
  <div 
    class="element-info-close-button"
    (click)="close.emit(null)">&#10005;</div>
</div>

<!-- Image Block -->
<div 
  class="element-data-wrapper"
  [ngClass]="{'wrapper-collapsed': !imageVisible}">
  <div 
    class="element-image-container ani-{{ani}}"
    [ngClass]="{'no-image': e.noImage}">
    <ng-container *ngIf="e.noImage">
      <div class="element-no-image-text">No samples exist.</div>
      <div class="element-no-image-text">{{e.noImageText || ' '}}</div>
    </ng-container>
    <img
      *ngIf="!e.noImage"
      src="./assets/img/elements/{{e.number}}.jpg">
  </div>
  <ng-container *ngIf="imageVisible">
    <div 
      class="element-controls-button button-large button-left"
      [ngClass]="{'element-controls-button-disabled': e.number == 1}"
      (click)="switchElement(e.number - 1)">&#9664;</div>
    <div 
      class="element-controls-button button-large button-right"
      [ngClass]="{'element-controls-button-disabled': e.number == 118}"
      (click)="switchElement(e.number + 1)">&#9654;</div>
  </ng-container>
</div>

<!-- Data Block -->
<div class="element-data-wrapper">
  <div 
    class="element-image-toggler"
    (click)="toggleImage()">
    <span 
      *ngIf="imageVisible"
      class="element-image-toggler-text">&#9650; Hide Sample</span>
    <span 
      *ngIf="!imageVisible"
      class="element-image-toggler-text">&#9660; Show Sample</span>
  </div>
  <div class="element-symbol">
    <span class="ani-{{ani}}">{{e.symbol}}</span>
  </div>
  <div class="element-data-container">
    <div 
      *ngFor="let d of data; index as i"
      class="element-data-row"
      [ngClass]="{'element-data-row-half' : i < 2}">
      <div class="element-data-property">
        {{d.name}}
        <div class="element-data-property-hint">?
          <div 
            class="element-data-property-hint-block"
            [ngClass]="{
              'element-data-property-hint-block-under': !imageVisible && i < 2,
              'element-data-property-hint-block-wide': !imageVisible && d.description.length > 2
            }">
            <div
              *ngFor="let text of d.description"
              class="element-data-property-hint-text">{{text}}</div>
          </div>
        </div>
      </div>
      <div class="element-data-value">
        <span class="ani-{{ani}}">
          <span class="element-data-value-number">{{d.value}}</span>
          <span 
            *ngIf="d.unit"
            class="element-data-value-unit"
            [innerHTML]="d.unit">
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
