
/*   Defaults & Reset   */

body {
  min-width: 320px;
  background: #111;
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

sup, sub {
  font-size: smaller;
}

::selection {
  background: #006666;
  color: #ccc;
}


/*   Common Animations   */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/*   Visibility   */

@media (max-width: 599px) {
  .invisible-mobile {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .invisible-tablet {
    display: none !important;
  }
}

@media (min-width: 900px) {
  .invisible-desktop {
    display: none !important;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .invisible-desktop-small {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .invisible-desktop-wide {
    display: none !important;
  }
}


/*   Background Animations (not working from component CSS!)   */

@keyframes moveDownRight {
  0% {
    opacity: 0;
    transform: translate(-25px, -25px);
  }
  4% {
    opacity: .6;
    transform: translate(-15px, -15px);
  }
  16% {
    opacity: .6;
    transform: translate(15px, 15px);
  }
  20% {
    opacity: 0;
    transform: translate(25px, 25px);
  }
  100% {
    opacity: 0;
    transform: translate(25px, 25px);
  }
}

@keyframes moveUpRight {
  0% {
    opacity: 0;
    transform: translate(-25px, 25px);
  }
  4% {
    opacity: .6;
    transform: translate(-15px, 15px);
  }
  16% {
    opacity: .6;
    transform: translate(15px, -15px);
  }
  20% {
    opacity: 0;
    transform: translate(25px, -25px);
  }
  100% {
    opacity: 0;
    transform: translate(25px, -25px);
  }
}

@keyframes moveDownLeft {
  0% {
    opacity: 0;
    transform: translate(25px, -25px);
  }
  4% {
    opacity: .6;
    transform: translate(15px, -15px);
  }
  16% {
    opacity: .6;
    transform: translate(-15px, 15px);
  }
  20% {
    opacity: 0;
    transform: translate(-25px, 25px);
  }
  100% {
    opacity: 0;
    transform: translate(-25px, 25px);
  }
}

@keyframes moveUpLeft {
  0% {
    opacity: 0;
    transform: translate(25px, 25px);
  }
  4% {
    opacity: .6;
    transform: translate(15px, 15px);
  }
  16% {
    opacity: .6;
    transform: translate(-15px, -15px);
  }
  20% {
    opacity: 0;
    transform: translate(-25px, -25px);
  }
  100% {
    opacity: 0;
    transform: translate(-25px, -25px);
  }
}
