
/*   Defaults & Reset   */

body {
  min-width: 320px;
  background: #111;
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

sup, sub {
  font-size: smaller;
}


/*   Animations   */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/*   Visibility   */

@media (max-width: 599px) {
  .invisible-mobile {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .invisible-tablet {
    display: none !important;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .invisible-desktop-small {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .invisible-desktop-wide {
    display: none !important;
  }
}
