@use './app/scss' as *;

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

body {
  min-width: 320px;
  background: $g-11;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

sup,
sub {
  font-size: smaller;
}

::selection {
  background: $color-accent-intense;
  color: $color-text-bright;
}
