@use '../../scss' as *;

:host {
  display: flex;
  width: calc(100% - 20px);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px auto;
  padding: 0 10px;
  overflow: hidden;
}

@mixin bg-block-dark {
  @include shadow-inset(2px, fade-out($g-11, .6));
  background: fade-out($g-18, .25);
}


/*   Table Visibility Controls   */

.controls-container {
  @include shadow-inset(2px, fade-out($g-11, .5));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  border-radius: 6px;
  background: fade-out($g-22, .3);
  user-select: none;
  @include mobile {
    @include bg-block-dark;
    margin-bottom: 8px;
    border-radius: 10px;
  }
}

.controls-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  &-row {
    display: flex;
    justify-content: center;
    color: $color-accent-dim;
    font-size: 14px;
    letter-spacing: .02em;
    &:first-of-type {
      padding-bottom: 2px;
    }
  }
}

.controls-button {
  min-width: 22px;
  margin: 2px 4px;
  padding: 1px 8px 3px 8px;
  border-radius: 3px;
  background: $g-24;
  color: $color-text-dim;
  text-align: center;
  font-size: 15px;
  letter-spacing: .01em;
  white-space: nowrap;
  cursor: pointer;
  transition: .3s;
  @include hover {
    @include shadow-inset(3px, $g-33);
  }
  @include mobile {
    min-width: 54px;
    margin: 3px;
    font-size: 14px;
  }
  &-l,
  &-r {
    padding: 2px 5px;
    background: $g-28;
  }
  &-l {
    margin-left: 8px;
    margin-right: auto;
  }
  &-r {
    margin-left: auto;
    margin-right: 8px;
  }
  @include Hover {
    &-l:hover,
    &-r:hover {
      background: $g-33;
      box-shadow: none;
    }
  }
  @include Mobile {
    &-l,
    &-r {
      min-width: unset;
      width: 22px;
      margin: 3px 0;
    }
  }
  &-selected {
    background: $g-33;
    color: $color-text;
    pointer-events: none;
  }
  &-disabled {
    opacity: .4;
    pointer-events: none;
  }
}


/*   Tables and Cells   */

.table-main {  
  width: min(2400px, 100%);
  border-collapse: collapse;
}

.cell-no-bg {
  background: none;
  box-shadow: none;
}

th {
  @include shadow-inset(2px, $g-11);
  @include bg-lines(10px, $g-28, 1px, $g-2c);
  padding: 10px;
  border-radius: 6px;
  color: $color-accent-dim;
  text-align: center;
  letter-spacing: .01em;
  transition: .2s;
  user-select: none;
  @include desktop-1 {
    padding: 6px 8px;
    font-size: 14px;
  }
}

td {
  @include shadow-inset(2px, fade-out($g-11, .5));
  height: 64px;
  background: fade-out($g-22, .3);
  transition: .2s;
  @include desktop-3 {
    height: 46px;
  }
  @include desktop-2 {
    height: 64px;
  }
  @include desktop-1 {
    height: 50px;
  }
  @include desktop-small {
    height: 36px;
  }
}

.table-exceptions {
  width: min(2040px, 85%);
  border-collapse: collapse;
  @include Desktop-3 {
    & td {
      height: 64px;
    }
  }
  @include Desktop-small {
    & td {
      height: 53px;
    }
  }
  @include Tablet {
    & {
      width: calc(100% - 40px);
      margin: 0 0 10px 0;
    }
    & th {
      width: 92px;
    }
    & td {
      height: 36px;
    }
  }
  @include Mobile {
    & {
      width: 140px;
      margin: 0 5px;
      &:last-of-type {
        margin-left: 0;
      }
    }
    & th,
    & td {
      width: unset;
    }
  }
}

@include Hover {
  .group-hovered,
  .period-hovered {
    filter: brightness(1.2);
  }
  @include Tablet {
    .group-hovered,
    .period-hovered {
      filter: none;
    }
  }
}

@include Desktop-small {
  .cell-group {
    padding: 10px 5px;
  }
  .cell-period {
    width: 60px;
    height: 25px;
  }
}


/*   Containers for Lanthanides and Actinides   */

.exceptions-container-tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exceptions-container-mobile {
  display: flex;
  width: min(100% - 20px, 400px);
  flex-direction: column;
  min-width: 295px;
  &-header {
    display: flex;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 5px 5px 0 0;
    color: $color-accent-dim;
    background: $g-22;
    cursor: pointer;
    user-select: none;
  }
  &-collapsed &-header {
    border-radius: 5px;
  }
  &-header-triangle {
    margin-right: 15px;
    color: $color-text;
    font-size: 14px;
    transform: rotate(90deg);
    transition: .2s;
  }
  &-collapsed &-header-triangle {
    transform: rotate(0deg);
  }
  &-body {
    @include bg-block-dark;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    border-radius: 0 0 5px 5px;
    animation: fadeIn .3s;
  }
  &-collapsed &-body {
    display: none;
  }
}


/*   Animations   */

.ani-1 {
  animation: fadeIn .8s;
}

.ani-2 {
  animation: fadeIn2 .8s;
}


/*   Overlay   */

.page-overlay {
  @include bg-overlay;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;  
  overflow-y: auto;
  animation: fadeIn .3s;
}
